<main class="content">
    <div class="profile-container">
        <div class="profile-pic-section">
            <div class="profile-img-div">
                <img class="profile-img" srcset="{{ recycler.imageUrl }}" alt="">
            </div>
            <p class="score">Score: <span id="upcycler-score">{{ recycler.score }}</span></p>
        </div>
        <div class="profile-info-section">
            <a href="#">Edit your profile <i class="fas fa-pencil-alt"></i></a>
            <div>
                <p class="keys">Recycler:</p>
                <p>{{ recycler.userName }}</p>
            </div>
            <div>
                <p class="keys">Description:</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum enim, optio eveniet aspernatur quam rem voluptatum fugit dolore ipsa cumque eaque doloremque incidunt quas sed reiciendis sunt magnam iste debitis.</p>
            </div>
        </div>
    </div>
</main>