<main class="content">
  <div class="about-us-container">
    <h1>Who are we?</h1>
    <p>
      ABSTMA® was established in 2019 by three IronHackers, Abdo, Stefano and Martin, who first met in Amsterdam,
      Netherlands.
      While brainstorming ideas about their second project, they came to the realization that a lot of waste is produced
      daily
      which in turn translates into pollution.
    </p>
    <p>
      They firmly believe each individual should be more cognizant of the
    quality of the environment, we as a society, live in. By merging their passions for web design and programming with their love for other's fellow citizens, they decided
    to take the chance to do something that could change our cities,
    and in turn our world, for the better. The core idea behind ABSTMA is to render our community more aware of the amount
    of waste we all generate daily.
    </p>
    <p>
      A simple business model, where individuals donate material that would otherwise be wasted, and businesses receive
      this material to create new products that will make it into the market, is the main idea ABSTMA is built upon. In
      addition, individuals who contributed with donations will be able to receive advantageous discounts when purchasing
      goods that were created thanks to their
      collaboration. Furthermore, ABSTMA is currently developing a pickup and
      delivery system to make the entire process wholly transparent and smooth for individual and businesses alike.
    </p>
  </div>
  <div class="signatures">
    <div><img src="/images/abdo-signature.png" alt=""></div>
    <div><img src="/images/stefano-signature.png" alt=""></div>
    <div><img src="/images/martin-signature.png" alt=""></div>
  </div>
</main>